/* root-start */
:root {
    --theme-color-white: white;
    --theme-color-black: black;
    --theme-color-green: #86bc42;
    --theme-color-light-green: #849d6a;
    --theme-color-medium-green: #41544a;
    --theme-color-dark-green: #2c3a33;
    --theme-color-dark-red: #b04d50;
}

/* root-end */

/* bg-start */
.msh-bg-light-green {
    background-color: var(--theme-color-light-green);
    color: var(--theme-color-white);
}

.msh-bg-light-green:hover {
    background-color: var(--theme-color-medium-green);
    color: var(--theme-color-black);
}

.msh-bg-dark-green {
    background-color: var(--theme-color-dark-green);
    color: var(--theme-color-white);
}

.msh-bg-dark-green:hover {
    background-color: var(--theme-color-white);
    color: var(--theme-color-dark-green);
}

.msh-bg-white {
    background-color: var(--theme-color-white);
    color: var(--theme-color-black);
}

/* bg-end */


/* txt-start */
.msh-txt-white {
    color: var(--theme-color-white);
}

.msh-txt-black {
    color: var(--theme-color-black);
}

.msh-txt-green {
    color: var(--theme-color-green);
}

.msh-txt-light-green {
    color: var(--theme-color-light-green);
}

.msh-txt-medium-green {
    color: var(--theme-color-medium-green);
}

.msh-txt-dark-green {
    color: var(--theme-color-dark-green);
}

.msh-txt-dark-red {
    color: var(--theme-color-dark-red);
}

.msh-fs-0p8 {
    font-size: 0.8rem;
}

.msh-fs-0p7 {
    font-size: 0.7rem;
}

.msh-fs-0p5 {
    font-size: 0.5rem;
}

/* txt-end */


/* btn-start */
.msh-counter-bag::after {
    content: attr(msh-counter-bag);
    position: absolute;
    display: grid;
    place-items: center center;
    z-index: 4;
    font-size: 0.5em;
    font-weight: bolder;
    width: 18px;
    height: 18px;
    top: -4px;
    right: 10px;
    clip-path: circle();
    border-radius: 50%;
    color: var(--theme-color-white);
    border: 1px solid var(--theme-color-white);
    background-color: var(--theme-color-green);
}

/* btn-end */


/* header-start */
.nav .nav-item .nav-link:focus {
    color: var(--theme-color-green);
}

/* header-end */


/* lovelyCatg-start */
#lovely-catg li {
    cursor: pointer;
    padding-top: 0.6rem;
}

#lovely-catg li:hover,
#lovely-catg li:focus {
    color: var(--theme-color-dark-red);
}

/* lovelyCatg-end */


/* offer-start */
#offer {
    position: relative;
    width: 100%;
    height: max-content;
    border: 2px solid var(--theme-color-dark-red);
}

#offer #offer-counter {
    position: absolute;
    top: -30px;
    right: 20px;
    width: 350px;
    height: 60px;
    background-color: white;
    display: grid;
    place-items: center center;
}

#offer #offer-counter div div:last-child {
    background-color: var(--theme-color-dark-red);
    color: var(--theme-color-white);
}

#offer-cards a {
    cursor: pointer;
}

#offer-cards img.position-absolute {
    top: -20px;
    right: 0px;
}

#offer-cards a:hover,
#offer-cards a:focus {
    color: var(--theme-color-dark-red);
    border: 1px solid var(--theme-color-dark-red);
    border-radius: 5px;
}

.range-sale {
    position: relative;
    width: 70%;
    height: 5px;
    background-color: #acacac;
    border-radius: 3px;
    overflow: hidden;
}

.range-full-sale {
    position: absolute;
    background-color: var(--theme-color-dark-red);
    height: 5px;
    /* width: 30px; */
}

/* offer-end */